.key1-contacto {
  background-image: url("..recursos/contacto/contacto__1.jpg");
  width: 30rem;
  height: 25rem;
  border: 1rem;
  border-radius: 3rem; }

.key2-contacto {
  background-image: url("..recursos/contacto/contacto__2.jpg");
  width: 30rem;
  height: 25rem;
  border: 1rem;
  border-radius: 3rem; }

.key3-contacto {
  background-image: url("..recursos/contacto/contacto__3.jpg");
  width: 30rem;
  height: 25rem;
  border: 1rem;
  border-radius: 3rem; }

header {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2.1rem;
  margin-right: 2rem;
  justify-content: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem; }
  .header__logo {
    width: 15vw;
    height: 10vh; }

.navegador {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }

.navegador p a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1rem;
  border-left: 0.1rem solid white;
  padding-left: 1rem;
  padding-right: 1rem; }

.navegador p a:hover {
  padding: 0.5rem; }

a {
  text-decoration: none; }

@media (min-width: 541px) and (max-width: 720px) {
  header {
    height: 8rem; }
  .header {
    display: flex;
    flex-direction: row; }
    .header__logo {
      width: 20vw;
      height: 10vh; } }

@media (min-width: 320px) and (max-width: 540px) {
  header {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    width: 20rem;
    height: 6rem; }
  .tituloh1 {
    font-size: 1.25rem; }
  .header__logo {
    width: 33vw;
    height: 7vh; }
  .navegador {
    margin-left: 0.5rem; }
  .navegador p a {
    font-weight: 0.5rem;
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; } }

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1.1rem; }
  footer__redes {
    display: flex;
    flex-direction: row; }
    footer__redes a {
      margin: 1rem; }

.instagram {
  width: 2.75rem;
  height: 2rem;
  border-radius: 0.5rem; }

.facebook {
  width: 2.75rem;
  height: 2rem;
  border-radius: 0.5rem; }

.navegador {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }

.navegador p a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1rem;
  border-left: 0.10rem solid white;
  padding-left: 1rem;
  padding-right: 1rem; }

p a:hover {
  padding: 0.5rem; }

@media (min-width: 320px) and (max-width: 540px) {
  .instagram {
    width: 2rem;
    height: 1.5rem; }
  .facebook {
    width: 2rem;
    height: 1.5rem; }
  .navegador {
    margin-left: 0.5rem; }
  .navegador p a {
    font-weight: 0.5rem;
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; } }

.indexTituloh2 {
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center; }

.carousel {
  width: 80rem;
  height: 35rem; }

.indexTexto {
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: 10rem;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: solid white; }

@media (min-width: 541px) and (max-width: 720px) {
  .indexTituloh2 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem; }
  .carousel {
    width: 33rem;
    height: 15rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  .indexTexto {
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
    .indexTexto__p {
      font-size: 1.25rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .indexTituloh2 {
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
  .carousel {
    width: 23rem;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .indexTexto {
    flex-direction: column;
    font-size: 0.5rem;
    gap: 0.2rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
    .indexTexto__p {
      font-size: 1rem; } }

.nosotrosTituloh3 {
  text-align: center;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem; }

.nosotrosTituloh4 {
  color: white; }

.text-container {
  width: 100%;
  background: #00000099;
  text-align: center; }

.texto {
  font-size: 2rem;
  color: white; }

.texto1 {
  font-size: 1.5rem; }

.container__nosotros1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem 25rem 8rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem; }
  .container__nosotros1__uno {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../recursos/Nosotros 1.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__nosotros1__dos {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("../recursos/Nosotros 2.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__nosotros1__tres {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("../recursos/Nosotros 3.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__nosotros1__cuatro {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("../recursos/Nosotros 4.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__nosotros1__cinco {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch; }

.border {
  color: white;
  border-style: dashed;
  border-radius: 5%;
  padding: 1rem; }

.container__nosotros2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem 25rem 10rem;
  gap: 4rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-bottom: 0.10rem;
  margin-left: 5rem;
  margin-right: 5rem; }
  .container__nosotros2__uno {
    grid-row: 1/2;
    grid-column: 1/2;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid white; }
  .container__nosotros2__dos {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("../recursos/nosotros_5.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%; }
  .container__nosotros2__tres {
    grid-row: 2/3;
    grid-column: 1/2;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%; }
  .container__nosotros2__cuatro {
    grid-row: 2/3;
    grid-column: 2/3;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__nosotros2__cinco .p__link {
    grid-row: 3/4;
    grid-column: 1/3;
    background-image: url("../recursos/caphai.png");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%; }

.imagenCaphai {
  width: 35rem;
  height: 25rem;
  border-radius: 5%;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.p__link {
  width: 25rem;
  height: 7rem;
  margin-left: 26rem; }

@media (min-width: 541px) and (max-width: 720px) {
  .nosotrosTituloh2 {
    font-size: 1.75rem;
    padding: 1rem;
    margin-bottom: 0.5rem; }
  .texto {
    font-size: 1.25rem; }
  .texto1 {
    font-size: 1.15rem;
    text-align: justify; }
  .container__nosotros1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20rem 20rem 8rem;
    gap: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem; }
  .nosotrosTituloh3 {
    font-size: 1.25rem;
    padding: 2rem;
    margin-bottom: 0.5rem; }
  .container__nosotros2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 18rem 19rem 6rem;
    gap: 2rem;
    padding-bottom: 0.10rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .imagenCaphai {
    width: 18rem;
    height: 19rem; }
  .nosotrosTituloh4 {
    font-size: 1.25rem; }
  .nosotros__p {
    font-size: 0.9rem; }
  .p__link {
    width: 15rem;
    height: 5rem;
    margin-left: 10rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .nosotrosTituloh2 {
    font-size: 1.25rem;
    margin-top: 0.25rem; }
  .container__nosotros1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12rem 12rem 13rem;
    gap: 0.5rem;
    padding-top: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
    .container__nosotros1__cinco {
      border: solid white;
      padding: 0.5rem;
      border-style: groove; }
  .texto {
    font-size: 1rem; }
  .texto1 {
    font-size: 1rem;
    text-align: justify; }
  .nosotrosTituloh3 {
    font-size: 1.10rem;
    padding: 1rem;
    margin-bottom: 0.5rem; }
  .nosotrosTituloh4 {
    font-size: 1.25rem; }
  .nosotros__p {
    font-size: 1rem; }
  .container__nosotros2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 19rem 15rem 18rem 15rem 5rem;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.10rem;
    margin-left: 1rem;
    margin-right: 1rem; }
    .container__nosotros2__uno {
      grid-row: 1/2;
      grid-column: 1/1; }
    .container__nosotros2__dos {
      grid-row: 2/3;
      grid-column: 1/1;
      background-image: url("../recursos/nosotros_5.jpg"); }
    .container__nosotros2__cuatro {
      grid-row: 3/4;
      grid-column: 1/1; }
    .container__nosotros2__tres {
      grid-row: 4/5;
      grid-column: 1/1;
      background-image: url("../recursos/nosotros_6.png"); }
    .container__nosotros2__cinco .p__link {
      grid-row: 5/6;
      grid-column: 1/1;
      background-image: url("../recursos/caphai.png"); }
  .imagenCaphai {
    width: 23rem;
    height: 15rem;
    border-radius: 5%; }
  .p__link {
    width: 10rem;
    height: 3rem;
    margin-left: 7rem; } }

.container__galeria {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 15rem 15rem 15rem 15rem;
  grid-template-areas: "uno dos tres"  "uno cuatro cinco" "seis cuatro ocho" "seis cuatro ocho";
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem; }
  .container__galeria__uno {
    grid-area: uno;
    background-image: url("../recursos/edificio__3.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__galeria__dos {
    grid-area: dos;
    background-image: url("../recursos/edificio__4.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__galeria__tres {
    grid-area: tres;
    background-image: url("../recursos/edificio__5.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__galeria__cuatro {
    grid-area: cuatro;
    background-image: url("../recursos/edificio__6.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__galeria__cinco {
    grid-area: cinco;
    background-image: url("../recursos/edificio__7.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__galeria__seis {
    grid-area: seis;
    background-image: url("../recursos/edificio__8.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__galeria__siete {
    grid-area: seis;
    background-image: url("../recursos/edificio__9.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__galeria__ocho {
    grid-area: ocho;
    background-image: url("../recursos/edificio__10.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

@media (min-width: 541px) and (max-width: 720px) {
  .galeriaTituloh2 {
    font-size: 1.75rem;
    padding: 0.5rem;
    margin-left: 5rem;
    margin-top: 0.25rem; }
  .container__galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    border: 0.1rem solid #0f010f;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis" "ocho seis";
    gap: 0.5rem;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  .gridTexto {
    font-size: 1rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .galeriaTituloh2 {
    font-size: 1.25rem;
    margin-left: 1rem; }
  .gridTexto {
    font-size: 1.25rem; }
  .container__galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 20rem 20rem 20rem 20rem 20rem 20rem;
    grid-template-areas: "uno"  "dos" "tres" "cuatro" "cinco" "seis" "ocho";
    gap: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .gridTexto {
    font-size: 1rem; } }

.imagenActitud1 {
  width: 35rem;
  height: 20rem;
  border: solid wheat;
  border-radius: 5%; }

.container__actitud1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 22rem;
  gap: 3rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-bottom: 0.10rem;
  margin-left: 5.1rem;
  margin-right: 5rem;
  margin-bottom: 2rem; }
  .container__actitud1__uno {
    grid-row: 1/2;
    grid-column: 1/2;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__actitud1__dos {
    grid-row: 1/2;
    grid-column: 2/3;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .container__actitud1__texto {
    font-size: 1.40rem;
    text-align: justify; }

.container__actitud2 {
  margin-left: 3rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  border: solid white; }
  .container__actitud2__texto {
    font-size: 1.4rem; }

.tituloh3Actitud {
  color: white;
  margin-left: 25rem; }

.actitud__texto {
  font-size: 1.25rem; }

.container__actitud3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem;
  gap: 5rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 0.10rem;
  margin-left: 8rem;
  margin-right: 12rem; }
  .container__actitud3__uno {
    grid-row: 1/2;
    grid-column: 1/2; }
  .container__actitud3__dos {
    grid-row: 1/2;
    grid-column: 2/3; }

.imagenActitud {
  width: 35rem;
  height: 22rem;
  border: solid wheat;
  border-radius: 5%; }

@media (min-width: 541px) and (max-width: 720px) {
  .actitudTituloh2 {
    font-size: 1.75rem;
    text-align: center;
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .tituloh3Actitud {
    font-size: 1.50rem;
    margin-left: 2rem;
    margin-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .imagenActitud1 {
    width: 33rem;
    height: 20rem;
    border: solid wheat;
    border-radius: 5%;
    margin-left: 2rem; }
  .container__actitud1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20rem;
    gap: 0.5rem;
    padding-bottom: 0.10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem; }
    .container__actitud1__uno {
      grid-row: 1/2;
      grid-column: 1/1;
      margin-left: 1rem; }
    .container__actitud1__dos {
      grid-row: 2/3;
      grid-column: 1/1; }
    .container__actitud1__texto {
      font-size: 1.25rem;
      text-align: justify; }
  .container__actitud2 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
    gap: 2rem; }
  .tituloh3Actitud {
    color: white;
    margin-left: 5rem; }
  .actitud__texto {
    font-size: 1.25rem; }
  .container__actitud3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem 22rem;
    gap: 1rem;
    padding-top: 1em;
    margin-left: 2rem;
    margin-right: 1rem; }
    .container__actitud3__dos {
      margin-right: 1rem;
      grid-row: 2/3;
      grid-column: 1/1; }
    .container__actitud3__dos .imagen {
      width: 80%;
      height: 5rem;
      margin-right: 1rem; }
    .container__actitud3__uno {
      grid-row: 1/2;
      grid-column: 1/1; }
  .imagenActitud {
    width: 33rem;
    height: auto; } }

@media (min-width: 320px) and (max-width: 540px) {
  .actitudTituloh2 {
    font-size: 1.25rem;
    text-align: center;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .imagenActitud1 {
    width: 21rem;
    height: auto;
    margin-left: 1rem; }
  .container__actitud1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 19rem 13rem;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; }
    .container__actitud1__uno {
      grid-row: 1/2;
      grid-column: 1/1; }
    .container__actitud1__dos {
      grid-row: 2/3;
      grid-column: 1/1;
      justify-items: center; }
    .container__actitud1__texto {
      font-size: 1rem;
      text-align: justify; }
  .container__actitud2 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 0.7rem;
    gap: 1rem; }
    .container__actitud2__texto {
      font-size: 1rem;
      text-align: left; }
  .tituloh3Actitud {
    font-size: 1.25rem;
    color: white;
    margin-left: 1.5rem;
    text-align: center; }
  .actitud__texto {
    font-size: 1rem; }
  .container__actitud3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16rem 21rem;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.10rem;
    margin-left: 1rem;
    margin-right: 1rem; }
    .container__actitud3__dos .imagen {
      width: 10rem;
      height: 5rem; }
    .container__actitud3__uno {
      grid-row: 1/2;
      grid-column: 1/1; }
    .container__actitud3__dos {
      grid-row: 2/3;
      grid-column: 1/1; }
  .imagenActitud {
    width: 22rem;
    height: auto; } }

.container__contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem 25rem 5rem;
  margin-left: 1rem;
  margin-right: 6rem;
  gap: 3rem;
  justify-items: center;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem; }
  .container__contacto__uno {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../recursos/contacto/contacto__1.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid white; }
  .container__contacto__uno__texto {
    grid-row: 1/2;
    grid-column: 2/3;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30rem;
    height: 25rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding: 0.50rem;
    padding-right: 0.5rem;
    text-align: justify;
    border: solid white;
    border-radius: 7%; }
  .container__contacto__dos {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("../recursos/contacto/contacto__2.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid white; }
  .container__contacto__tres {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("../recursos/contacto/contacto__3.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid white; }
  .container__contacto__dos__texto {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 30rem;
    text-align: center;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid white; }
  .container__contacto__tres__texto {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 30rem;
    text-align: center;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid white; }

.textoGrid1 {
  font-size: 1.30rem; }

.textoGrid2 {
  font-size: 1.5rem; }

.contactoTexto {
  display: flex;
  font-size: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center; }

.imput {
  background-color: #1d2925;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2rem;
  padding: 1rem;
  width: 30rem;
  height: 23rem;
  text-align: center;
  margin-left: 27rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 7%; }
  .imput__contacto {
    font-size: 1.5rem;
    padding: 0.50rem;
    color: white; }
  .imput__contacto1 {
    font-size: 1.5rem;
    padding-left: 1.5rem; }
  .imput__contacto__uno {
    background-color: bisque;
    padding: 0.50rem;
    height: 2rem;
    width: 17rem; }
  .imput__contacto__dos {
    background-color: bisque;
    padding: 0.50rem;
    height: 5rem;
    width: 15rem;
    text-align: left; }
  .imput__contacto__tres {
    background-color: bisque; }
  .imput__contacto__cuatro {
    background-color: bisque; }

@media (min-width: 541px) and (max-width: 720px) {
  .contactoTituloh2 {
    font-size: 1.75rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem; }
  .container__contacto {
    grid-template-columns: 50% 50%;
    grid-template-rows: 18rem 18rem 5rem;
    gap: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 2rem; }
    .container__contacto__uno {
      grid-row: 1/2;
      grid-column: 1/2;
      margin: auto;
      width: 17rem;
      height: 18rem; }
    .container__contacto__uno__texto {
      font-size: 1rem;
      grid-row: 1/2;
      width: 17rem;
      height: 18rem;
      grid-column: 2/3; }
    .container__contacto__dos {
      grid-row: 2/3;
      grid-column: 1/2;
      width: 17rem;
      height: 18rem; }
    .container__contacto__tres {
      grid-row: 2/3;
      grid-column: 2/3;
      width: 17rem;
      height: 18rem; }
    .container__contacto__dos__texto {
      font-size: 1rem;
      grid-row: 3/4;
      grid-column: 1/2;
      width: 17rem;
      height: 5rem; }
    .container__contacto__tres__texto {
      font-size: 1rem;
      grid-row: 3/4;
      grid-column: 2/3;
      width: 17rem;
      height: 5rem; }
  .textoGrid1 {
    font-size: 0.8rem; }
  .textoGrid2 {
    font-size: 1rem; }
  .contactoTexto {
    display: flex;
    font-size: 1.25rem;
    margin-left: 3rem;
    text-align: center; }
  .imput {
    font-size: 2rem;
    padding: 1rem;
    width: 28rem;
    height: 22rem;
    margin-left: 6rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .imput__contacto {
      font-size: 1.25rem;
      padding: 0.50rem; }
    .imput__contacto1 {
      font-size: 1.25rem;
      padding-left: 2rem;
      text-align: left; } }

@media (min-width: 320px) and (max-width: 540px) {
  .contactoTituloh2 {
    font-size: 1.25rem;
    text-align: center;
    margin-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem; }
  .key1-contacto {
    width: 17rem;
    height: 17rem; }
  .key2-contacto {
    width: 17rem;
    height: 17rem; }
  .key3-contacto {
    width: 17rem;
    height: 17rem; }
  .container__contacto {
    grid-template-columns: 100%;
    grid-template-rows: 18rem 25rem 0.1rem 18rem 5rem 5rem;
    justify-items: left;
    align-items: left;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    gap: 0.50rem;
    width: 19rem;
    height: 75rem; }
    .container__contacto__uno {
      align-content: center;
      grid-row: 1/2;
      grid-column: 1/1;
      width: 20rem;
      padding: 0.5rem; }
    .container__contacto__uno__texto {
      grid-row: 2/3;
      grid-column: 1/1;
      width: 20rem;
      height: 25rem; }
    .container__contacto__dos {
      grid-row: 3/4;
      grid-column: 1/1;
      width: 0%;
      height: 0%; }
    .container__contacto__tres {
      grid-row: 4/5;
      grid-column: 1/1;
      width: 20rem; }
    .container__contacto__dos__texto {
      grid-row: 5/6;
      grid-column: 1/1;
      width: 20rem;
      height: 5rem; }
    .container__contacto__tres__texto {
      grid-row: 6/7;
      grid-column: 1/1;
      font-size: 0.5rem;
      width: 20rem;
      height: 5rem; }
  .textoGrid1 {
    font-size: 1rem; }
  .textoGrid2 {
    font-size: 1rem; }
  .contactoTexto {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem; }
  .imput {
    flex-direction: column;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 18rem;
    height: 29rem;
    margin-left: 4rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem; }
    .imput__contacto {
      font-size: 1rem;
      padding: 0.50rem;
      text-align: left; }
    .imput__contacto1 {
      flex-direction: column;
      font-size: 1rem;
      padding: 0.50rem;
      text-align: left; }
    .imput__contacto__uno {
      height: 2rem;
      width: 15em; }
    .imput__contacto__dos {
      height: 5rem;
      width: 15rem; }
    .imput__contacto__tres {
      height: 2rem;
      width: 11rem; }
    .imput__contacto__cuatro {
      height: 2rem;
      width: 10rem;
      margin-left: 1rem; } }

* {
  margin: 0px;
  padding: 0px; }

body {
  margin: 1rem;
  background-color: #304438;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

h1 {
  font-size: 3rem;
  color: white; }

h2 {
  font-size: 2.5rem;
  color: white; }

h3 {
  font-size: 2rem;
  color: white; }

h4 {
  font-size: 1.75;
  color: white; }

p {
  font-size: 1.5rem;
  color: white; }

.tituloh2 {
  text-align: center;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem; }

.link {
  height: 13rem;
  margin-left: 2rem; }
  .link__contacto {
    color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center; }

.btn {
  background-color: white;
  width: 10rem;
  height: 5rem;
  color: black;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 10rem;
  margin-left: 34rem;
  margin-right: 15rem;
  margin-bottom: 3rem; }
  .btn:hover {
    transform: scale(1.2);
    background-color: #1d2925;
    padding: 1rem; }
  .btn__texto {
    color: black; }
    .btn__texto:hover {
      color: white; }

@media (min-width: 541px) and (max-width: 720px) {
  .link {
    height: 12rem;
    margin-left: 2rem; }
    .link__contacto {
      font-size: 1.5rem;
      color: white;
      padding-top: 1rem;
      padding-bottom: 2rem;
      text-align: center; }
  .btn {
    width: 8rem;
    height: 4rem;
    font-size: 1.40rem;
    margin-left: 14rem;
    padding: 0.5rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  body {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .tituloh2 {
    font-size: 1.3rem;
    text-align: center;
    color: white;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem; }
  .link {
    height: 11rem;
    margin-left: 1rem; }
    .link__contacto {
      font-size: 1.25rem;
      padding-top: 1rem;
      padding-bottom: 2rem;
      text-align: center; }
  .btn {
    width: 6.66667rem;
    height: 3.33333rem;
    font-size: 1.25rem;
    padding: 0.25rem;
    border-radius: 10rem;
    margin-left: 8rem; }
    .btn:hover {
      transform: scale(1.1);
      padding: 0.5rem; } }
