.key1-contacto {
  background-image: url("..recursos/contacto/contacto__1.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

.key2-contacto {
  background-image: url("..recursos/contacto/contacto__2.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

.key3-contacto {
  background-image: url("..recursos/contacto/contacto__5.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

.key4-contacto {
  background-image: url("..recursos/contacto/contacto__6.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

header {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.header {
  display: flex;
  flex-direction: row;
  gap: 2rem; }

.headerLogo {
  width: 15vw;
  height: 10vh; }

nav {
  padding-top: 1.5rem; }

.navegadorIndex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 0.5rem; }

.navegadorIndex span a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 1rem;
  font-size: 1rem;
  border-left: 0.2rem solid white;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.5s ease; }

.navegadorIndex span a:hover {
  padding: 0.5rem; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@media (min-width: 541px) and (max-width: 720px) {
  .headerLogo {
    width: 30vw;
    height: 6vh; }
  .navegadorIndex {
    margin-left: 3rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .tituloh1 {
    font-size: 1.5rem; }
  .headerLogo {
    width: 30vw;
    height: 6vh; }
  nav {
    padding-top: 1.5rem; }
  .navegadorIndex {
    gap: 0.05rem;
    margin-top: 0.5rem; } }

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem; }

.redes-footer {
  display: flex;
  flex-direction: row; }

.redes-footer a {
  margin: 1rem; }

.facebook {
  width: 3.5rem;
  height: 2rem; }

.instagram {
  width: 2.5rem;
  height: 2rem; }

.navegador-footer {
  background-color: #304438;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1rem; }

.navegador-footer span a {
  color: white;
  font-size: 1rem;
  border-left: 0.10rem solid white;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.5s ease; }

.navegador-footer span a:hover {
  padding: 0.5rem; }

.nosotrosTituloh2 {
  text-align: center;
  color: white;
  padding: 2rem; }

.nosotrosTituloh3 {
  text-align: center;
  color: white;
  padding: 1rem; }

.nosotrosTituloh4 {
  color: white; }

.grid__container__nosotros1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem 25rem 10rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-top: 3rem;
  padding-bottom: 0.10rem;
  margin-left: 5rem;
  margin-right: 5rem; }

.text-container {
  width: 100%;
  background: #00000099;
  text-align: center; }

.grid__texto {
  font-size: 2rem;
  color: white; }

.grid__texto1 {
  font-size: 1.5rem; }

.grid__container__nosotros1 .grid__uno {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("../recursos/Nosotros 1.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros1 .grid__dos {
  grid-row: 1/2;
  grid-column: 2/3;
  background-image: url("../recursos/Nosotros 2.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros1 .grid__tres {
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: url("../recursos/Nosotros 3.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros1 .grid__cuatro {
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: url("../recursos/Nosotros 4.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros1 .grid__cinco {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch; }

.grid__container__nosotros2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20rem 20rem 10rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-bottom: 0.10rem;
  margin-left: 5rem;
  margin-right: 5rem; }

.grid__container__nosotros2.grid__uno {
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros2 .grid__dos {
  grid-row: 1/2;
  grid-column: 2/3;
  background-image: url("../recursos/nosotros_5.png");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros2 .grid__tres {
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: url("../recursos/nosotros_6.png");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros2 .grid__cuatro {
  grid-row: 2/3;
  grid-column: 2/3;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__nosotros2 .grid__cinco .p__link {
  grid-row: 3/4;
  grid-column: 1/3;
  background-image: url("../recursos/caphai.png");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.p__link {
  width: 25rem;
  height: 7rem;
  margin-left: 25rem; }

.linkContactoTexto {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  text-align: center; }

.btn {
  background-color: white;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 1.5rem;
  margin-left: 40rem; }

.btn:hover {
  transform: scale(1.25);
  background-color: aquamarine; }

.boton {
  color: black; }

@media (min-width: 541px) and (max-width: 720px) {
  .grid__container__nosotros1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20rem 20rem 15rem;
    gap: 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem; }
    .grid__container__nosotros1 .grid__texto {
      font-size: 1.5rem;
      color: #faf3f3; }
  .grid__texto1 {
    font-size: 1.5rem; }
  .grid__container__nosotros2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25rem 35rem 10rem;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    background-position: center;
    padding-bottom: 0.10rem;
    margin-left: 2rem;
    margin-right: 2rem; } }

.p__link {
  margin-left: 7rem; }

.linkContactoTexto {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: center; }

@media (min-width: 320px) and (max-width: 540px) {
  .grid__container__nosotros1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20rem 20rem 20rem;
    gap: 0.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem; }
  .grid__texto {
    font-size: 1.5rem; }
  .grid__texto1 {
    font-size: 1.5rem; }
  .grid__container__nosotros2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem 20rem 25rem 20rem 5rem;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    background-position: center;
    padding-bottom: 0.10rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  .grid__container__nosotros2.grid__uno {
    grid-row: 1/2;
    grid-column: 1/1;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__nosotros2 .grid__dos {
    grid-row: 2/3;
    grid-column: 1/1;
    background-image: url("../recursos/nosotros_5.png");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__nosotros2 .grid__cuatro {
    grid-row: 3/4;
    grid-column: 1/1;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__nosotros2 .grid__tres {
    grid-row: 4/5;
    grid-column: 1/1;
    background-image: url("../recursos/nosotros_6.png");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__nosotros2 .grid__cinco .p__link {
    grid-row: 5/6;
    grid-column: 1/1;
    background-image: url("../recursos/caphai.png");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .p__link {
    width: 15rem;
    height: 5rem;
    margin-left: 5rem; }
  .linkContactoTexto {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    text-align: center; }
  .btn {
    background-color: white;
    font-size: 2rem;
    padding: 0.75rem;
    border-radius: 1.5rem;
    margin-left: 8rem; }
  .btn:hover {
    transform: scale(1.25);
    background-color: aquamarine; }
  .boton {
    color: black; } }

.galeriaTituloh2 {
  padding: 2rem;
  margin-left: 30%; }

.portada__textoGaleria .texto__galeria {
  font-size: 3rem; }

.grid__container__galeria {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 15rem 15rem 15rem 15rem;
  grid-template-areas: "uno dos tres"  "uno cuatro cinco" "seis cuatro ocho" "seis cuatro ocho";
  gap: 1rem;
  margin-left: 5rem;
  margin-right: 5rem; }

.grid__container__galeria .grid__uno {
  grid-area: uno;
  background-image: url("../recursos/edificio__3.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__galeria .grid__dos {
  grid-area: dos;
  background-image: url("../recursos/edificio__4.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__galeria .grid__tres {
  grid-area: tres;
  background-image: url("../recursos/edificio__5.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__galeria .grid__cuatro {
  grid-area: cuatro;
  background-image: url("../recursos/edificio__6.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__galeria .grid__cinco {
  grid-area: cinco;
  background-image: url("../recursos/edificio__7.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__galeria .grid__seis {
  grid-area: seis;
  background-image: url("../recursos/edificio__8.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__galeria .grid__siete {
  grid-area: seis;
  background-image: url("../recursos/edificio__9.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__galeria .grid__ocho {
  grid-area: ocho;
  background-image: url("../recursos/edificio__10.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.linkContactoTexto {
  padding-bottom: 2rem;
  margin-left: 5rem; }

.btn {
  margin-left: 10rem; }

@media (min-width: 541px) and (max-width: 720px) {
  .grid__container__galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    border: 0.1rem solid #0f010f;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis" "ocho seis";
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .galeriaTituloh2 {
    font-size: 1.5rem;
    padding: 2rem;
    margin-left: 2rem; }
  .grid__container__galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem 15rem 15rem 15rem;
    grid-template-areas: "uno"  "dos" "tres" "cuatro" "cinco" "seis" "ocho";
    gap: 0.5rem;
    margin-left: 3rem;
    margin-right: 2rem; }
  .GaleriaLinkContactoTexto {
    font-size: 1rem;
    padding-bottom: 2rem;
    margin-left: 2rem; } }

.actitudTituloh2 {
  margin-left: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.container-fluid1 {
  width: 40rem;
  height: 20rem; }

.container__actitud1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-bottom: 0.10rem;
  margin-left: 5rem;
  margin-right: 5rem; }

.grid__container__actitud1 .grid__uno {
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__actitud1 .grid__uno {
  grid-row: 1/1;
  grid-column: 2/3;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.container__actitud2 {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 2rem; }

.actitudTituloh3 {
  color: white;
  margin-left: 25rem; }

.actitud__texto {
  font-size: 1.50rem; }

.container__actitud3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 0.10rem;
  margin-left: 5rem;
  margin-right: 5rem; }

.grid__container__actitud3 .grid__uno {
  grid-row: 1/2;
  grid-column: 1/2; }

.grid__container__actitud3 .grid__dos {
  grid-row: 1/2;
  grid-column: 2/3; }

@media (min-width: 541px) and (max-width: 720px) {
  .actitudTituloh2 {
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .container-fluid1 {
    width: 33rem;
    height: 10rem; }
  .container__actitud1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem 25rem;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .grid__container__actitud1 .grid__uno {
    grid-row: 1/2;
    grid-column: 1/1; }
  .grid__container__actitud1 .grid__uno {
    grid-row: 2/3;
    grid-column: 1/1; }
  .container__actitud2 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem; }
  .actitudTituloh3 {
    color: white;
    margin-left: 5rem; }
  .actitud__texto {
    font-size: 1.50rem; }
  .container__actitud3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.10rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .grid__container__actitud3 .grid__item .grid__dos {
    grid-row: 1/2;
    grid-column: 1/1; }
  .grid__container__actitud3 .grid__item.grid__uno {
    grid-row: 2/3;
    grid-column: 1/1; } }

@media (min-width: 320px) and (max-width: 540px) {
  .actitudTituloh2 {
    font-size: 1.4rem;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .container-fluid1 {
    width: 23rem;
    height: 10rem; }
  .container__actitud1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem 25rem;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .grid__container__actitud1 .grid__uno {
    grid-row: 1/2;
    grid-column: 1/1; }
  .grid__container__actitud1 .grid__uno {
    grid-row: 2/3;
    grid-column: 1/1; }
  .actitudTituloh3 {
    color: white;
    margin-left: 2rem; }
  .actitud__texto {
    font-size: 1.50rem; }
  .container__actitud3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.10rem;
    margin-left: 2rem;
    margin-right: 2rem; } }

.contactoTituloh2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem; }

.grid__container__contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15rem 15rem 5rem;
  gap: 8rem;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  margin-top: 0.5rem;
  padding: 5rem; }

.grid__container__contacto .grid__uno {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("../recursos/contacto/contacto__1.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid #272e29; }

.grid__container__contacto .grid__uno__texto {
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid #272e29; }

.grid__container__contacto .grid__dos {
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: url("../recursos/contacto/contacto__2.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid #272e29; }

.grid__container__contacto .grid__tres {
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: url("../recursos/contacto/contacto__5.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid #272e29; }

.grid__container__contacto .grid__dos__texto {
  grid-row: 3/4;
  grid-column: 1/2;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid #272e29; }

.grid__container__contacto .grid__tres__texto {
  grid-row: 3/4;
  grid-column: 2/3;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid #272e29; }

.contactoTexto {
  display: flex;
  font-size: 2rem;
  padding-left: 1rem;
  text-align: center;
  padding-left: 6rem; }

.grid__container__contacto1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25rem;
  gap: 1rem;
  margin-left: 25rem;
  margin-right: 10rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding: 2rem; }

.grid__container__contacto1 .grid__uno__uno {
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__contacto1 .grid__dos .imput {
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.grid__container__contacto1 .grid__uno__uno {
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat; }

.imput {
  background-color: #494949;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2rem;
  padding: 1rem;
  width: 30rem;
  height: 20rem;
  text-align: center;
  margin-left: 10rem;
  margin-top: 0.25rem; }

.imput .contacto__imput {
  padding: 0.50rem;
  color: white; }

@media (min-width: 541px) and (max-width: 720px) {
  .contactoTituloh2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem; }
  .grid__container__contacto {
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem 15rem 5rem;
    gap: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    padding: 2rem; }
  .grid__container__contacto .grid__uno {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 15rem;
    height: 15rem;
    background-image: url("../recursos/contacto/contacto__1.jpg"); }
  .grid__container__contacto .grid__uno__texto {
    grid-row: 1/2;
    grid-column: 2/3;
    border: solid #272e29; }
  .grid__container__contacto .grid__dos {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 15rem;
    height: 15rem;
    background-image: url("../recursos/contacto/contacto__2.jpg");
    border: solid #272e29; }
  .grid__container__contacto .grid__tres {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 15rem;
    height: 15rem;
    background-image: url("../recursos/contacto/contacto__5.jpg");
    border: solid #272e29; }
  .grid__container__contacto .grid__dos__texto {
    grid-row: 3/4;
    grid-column: 1/2;
    border: solid #272e29; }
  .grid__container__contacto .grid__tres__texto {
    grid-row: 3/4;
    grid-column: 2/3;
    border: solid #272e29; }
  .grid__texto {
    font-size: 1.5rem; }
  .contactoTexto {
    display: flex;
    font-size: 2rem;
    padding-left: 0.5em;
    text-align: center; }
  .grid__container__contacto1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25rem;
    gap: 1rem;
    margin-left: 6rem;
    margin-right: 8rem;
    justify-content: center;
    align-content: center;
    background-position: center;
    padding: 2rem; }
  .grid__container__contacto1 .grid__uno__uno {
    grid-row: 1/2;
    grid-column: 1/2;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__contacto1 .grid__dos .imput {
    grid-row: 1/2;
    grid-column: 2/3;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__contacto1 .grid__uno__uno {
    grid-row: 1/2;
    grid-column: 2/3;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .imput {
    background-color: #494949;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 1rem;
    width: 30rem;
    height: 20rem;
    text-align: center;
    margin-left: 10rem;
    margin-top: 0.25rem; }
  .imput .contacto__imput {
    padding: 0.50rem;
    color: white; } }

@media (min-width: 320px) and (max-width: 540px) {
  .contactoTituloh2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem; }
  .grid__container__contacto {
    grid-template-columns: 100%;
    grid-template-rows: 20rem 10rem 20rem 5rem 20rem 5rem;
    gap: 0.5rem;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem; }
  .grid__container__contacto .grid__uno {
    grid-row: 1/2;
    grid-column: 1/1;
    width: 20rem;
    height: 20rem;
    background-image: url("../recursos/contacto/contacto__1.jpg"); }
  .grid__container__contacto .grid__uno__texto {
    grid-row: 2/3;
    grid-column: 1/1;
    border: solid #272e29; }
  .grid__container__contacto .grid__dos {
    grid-row: 3/4;
    grid-column: 1/1;
    width: 20rem;
    height: 20rem;
    background-image: url("../recursos/contacto/contacto__2.jpg");
    border: solid #272e29; }
  .grid__container__contacto .grid__dos__texto {
    grid-row: 4/5;
    grid-column: 1/1;
    border: solid #272e29; }
  .grid__container__contacto .grid__tres {
    grid-row: 5/6;
    grid-column: 1/1;
    width: 20rem;
    height: 20rem;
    background-image: url("../recursos/contacto/contacto__5.jpg");
    border: solid #272e29; }
  .grid__container__contacto .grid__dos__texto {
    grid-row: 6/7;
    grid-column: 1/1;
    border: solid #272e29; }
  .grid__texto {
    font-size: 1.5rem; }
  .contactoTexto {
    display: flex;
    font-size: 1.5rem;
    padding-left: 0.5em;
    text-align: center; }
  .grid__container__contacto1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 1rem;
    padding-bottom: 1rem; }
  .grid__container__contacto1 .grid__uno__uno {
    grid-row: 1/2;
    grid-column: 1/1; }
  .grid__container__contacto1 .grid__dos .imput {
    grid-row: 2/3;
    grid-column: 1/1; }
  .grid__container__contacto1 .grid__uno__uno {
    grid-row: 3/4;
    grid-column: 1/1; }
  .imput {
    background-color: #304438;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-align: center;
    height: 20rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding-bottom: 1rem; }
  .imput .contacto__imput {
    padding: 0.50rem;
    color: white;
    width: 10rem; } }

* {
  margin: 0px;
  padding: 0px; }

body {
  margin: 1rem;
  background-color: #304438;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

h1 {
  font-size: 3rem;
  color: white; }

h2 {
  font-size: 2rem;
  color: white; }

p {
  font-size: 1.5rem;
  color: white; }

/*index*/
.indexTituloh2 {
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center; }

.container-fluid {
  width: 80rem;
  height: 50rem; }

.indexTexto {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 0rem;
  margin-left: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem; }

.linkContactoTexto {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-left: 18rem; }

.btn {
  background-color: white;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 1.5rem;
  margin-left: 35rem; }

.btn:hover {
  transform: scale(1.25);
  background-color: #1c805e; }

.boton {
  color: black; }

@media (min-width: 541px) and (max-width: 720px) {
  .indexTituloh2 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center; }
  .container-fluid {
    width: 35rem;
    height: 10rem;
    margin-left: 1rem;
    margin-right: 2rem; }
  .indexTexto {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 5rem; }
  .linkContactoTexto {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    text-align: center; }
  .btn {
    background-color: white;
    font-size: 2rem;
    padding: 0.75rem;
    border-radius: 1.5rem;
    margin-left: 13rem; }
  .btn:hover {
    transform: scale(1.25);
    background-color: aquamarine; }
  .boton {
    color: black; } }

@media (min-width: 320px) and (max-width: 540px) {
  .indexTituloh2 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center; }
  .container-fluid {
    width: 25rem;
    height: 10rem;
    margin-left: 0.5rem;
    margin-right: 1rem; }
  .indexTexto {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem; }
  .linkContactoTexto {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    text-align: center; }
  .btn {
    margin-left: 8rem; } }
