.key1-contacto {
  background-image: url("..recursos/contacto/contacto__1.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

.key2-contacto {
  background-image: url("..recursos/contacto/contacto__2.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

.key3-contacto {
  background-image: url("..recursos/contacto/contacto__5.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

.key4-contacto {
  background-image: url("..recursos/contacto/contacto__6.jpg");
  width: 30rem;
  height: 20rem;
  border: 1rem;
  border-radius: 5rem; }

/*@media (min-width:541px) and (max-width:720px){
    @mixin atributos ($width:15rem, $height:10rem, $border:1rem, $border-radius:2rem) { 
      width:$width;
      height:$height;
      border:$border;
      border-radius:$border-radius;
        }
    
    .key1-contacto{
      background-image: url('..recursos/contacto/contacto__1.jpg');
      @include atributos;
       }
    .key2-contacto{
      background-image: url('..recursos/contacto/contacto__2.jpg');
      @include atributos;
       } 
    .key3-contacto{
      background-image: url('..recursos/contacto/contacto__5.jpg');
      @include atributos;
       }
    .key4-contacto{
      background-image: url('..recursos/contacto/contacto__6.jpg');
      @include atributos;
       }
    
      }

@media (min-width:320px) and (max-width:540px){
  @mixin atributos ($width:15rem, $height:10rem, $border:1rem, $border-radius:1rem) { 
          width:$width;
          height:$height;
          border:$border;
          border-radius:$border-radius;
            }
        
        .key1-contacto{
          background-image: url('..recursos/contacto/contacto__1.jpg');
          @include atributos;
           }
        .key2-contacto{
          background-image: url('..recursos/contacto/contacto__2.jpg');
          @include atributos;
           } 
        .key3-contacto{
          background-image: url('..recursos/contacto/contacto__5.jpg');
          @include atributos;
           }
        .key4-contacto{
          background-image: url('..recursos/contacto/contacto__6.jpg');
          @include atributos;
           }
        
          }*/
.header {
  display: flex;
  flex-wrap: wrap;
  /* responsive*/
  justify-content: center;
  justify-content: space-between;
  /* espaciado entre palabras*/
  padding: 1rem;
  /* espaciado con otro contenido*/ }
  .header__logo {
    width: 15vw;
    height: 10vh; }

@media (min-width: 320px) and (max-width: 540px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header__logo {
      width: 30vw;
      height: 7vh; } }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: center;
  margin-right: 7rem; }
  .footer__redes__uno {
    width: 15rem;
    height: 8rem; }
  .footer__redes__dos {
    width: 8rem;
    height: 7.5rem; }
  .footer__texto {
    font-style: italic; }

@media (min-width: 541px) and (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-right: 3rem; }
    .footer__redes__uno {
      width: 20vw;
      height: 7vh; }
    .footer__redes__dos {
      width: 12vw;
      height: 7vh; } }

@media (min-width: 320px) and (max-width: 540px) {
  .footer {
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 2rem; }
    .footer__redes__uno {
      width: 20vw;
      height: 5vh; }
    .footer__redes__dos {
      width: 12vw;
      height: 5vh; } }

.grid__container__1nosotros {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15rem 15rem 15rem 13rem;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-bottom: 0.10rem;
  margin-left: 8rem;
  margin-right: 8rem; }
  .grid__container__1nosotros .text-container {
    width: 100%;
    background: #00000099;
    text-align: center; }
  .grid__container__1nosotros .grid__texto {
    font-size: 2rem;
    color: white; }
  .grid__container__1nosotros .grid__texto1 {
    font-size: 1.5rem; }
  .grid__container__1nosotros .grid__uno {
    grid-row: 1/3;
    background-image: url("../recursos/Nosotros 1.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1nosotros .grid__dos {
    grid-row: 1/2;
    background-image: url("../recursos/Nosotros 2.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1nosotros .grid__tres {
    grid-row: 3/4;
    background-image: url("../recursos/Nosotros 3.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1nosotros .grid__cuatro {
    grid-row: 2/4;
    background-image: url("../recursos/Nosotros 4.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1nosotros .grid__cinco {
    grid-row: 4/5;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch; }

.grid__container__2nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-position: center;
  margin-left: 5rem;
  margin-right: 3rem; }
  .grid__container__2nosotros .portada__textoNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 2rem;
    color: white; }

.p__link {
  font-size: 1.75rem; }
  .p__link :hover {
    color: aqua; }

@media (min-width: 541px) and (max-width: 720px) {
  .grid__container__1nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6rem 6rem 6rem 16rem;
    gap: 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem; }
    .grid__container__1nosotros .grid__texto {
      font-size: 1.5rem;
      color: #faf3f3; }
  .grid__texto1 {
    font-size: 1.5rem; }
  .p__link {
    font-size: 1.75rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .grid__container__1nosotros {
    display: grid;
    /*border: 0.1rem solid violet;*/
    grid-template-columns: 50% 50%;
    grid-template-rows: 6rem 6rem 6rem 14rem;
    gap: 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem; }
    .grid__container__1nosotros .grid__texto {
      font-size: 1rem; }
    .grid__container__1nosotros .grid__texto1 {
      font-size: 1.20rem; }
  .grid__container__2nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-position: center;
    margin-top: 2rem;
    margin-left: 0.1rem;
    margin-right: 1rem;
    font-size: 1rem; }
  .portada__textoNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* convierte en responsive*/
    font-size: 1.5rem; }
  .p__link {
    font-size: 1.5rem; } }

.portada__textoGaleria {
  padding: 2rem;
  margin-left: 30%; }
  .portada__textoGaleria .texto__galeria {
    font-size: 3rem; }

.grid__container__1galeria {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 15rem 15rem 15rem 15rem;
  grid-template-areas: "uno dos tres"  "uno cuatro cinco" "seis cuatro ocho" "seis cuatro ocho";
  gap: 1rem;
  margin-left: 10rem;
  margin-right: 10rem; }
  .grid__container__1galeria .grid__seis {
    grid-area: uno;
    background-image: url("../recursos/edificio__3.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1galeria .grid__siete {
    grid-area: dos;
    background-image: url("../recursos/edificio__4.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1galeria .grid__ocho {
    grid-area: tres;
    background-image: url("../recursos/edificio__5.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1galeria .grid__nueve {
    grid-area: cuatro;
    background-image: url("../recursos/edificio__6.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1galeria .grid__diez {
    grid-area: cinco;
    background-image: url("../recursos/edificio__7.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1galeria .grid__once {
    grid-area: seis;
    background-image: url("../recursos/edificio__8.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1galeria .grid__doce {
    grid-area: seis;
    background-image: url("../recursos/edificio__9.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  .grid__container__1galeria .grid__trece {
    grid-area: ocho;
    background-image: url("../recursos/edificio__10.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

@media (min-width: 541px) and (max-width: 720px) {
  .portada__textoGaleria {
    padding: 1rem;
    margin-left: 1rem; }
    .portada__textoGaleria .texto__galeria {
      font-size: 3rem;
      margin-left: 3rem; }
  .grid__container__1galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    border: 0.1rem solid #0f010f;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis" "ocho seis";
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .portada__textoGaleria {
    padding: 1rem;
    margin-left: 2.5rem; }
    .portada__textoGaleria .texto__galeria {
      font-size: 1.5rem;
      margin-left: 2.5rem; }
  .grid__container__1galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem 15rem 15rem 15rem;
    grid-template-areas: "uno"  "dos" "tres" "cuatro" "cinco" "seis" "ocho";
    gap: 0.5rem;
    margin-left: 3rem;
    margin-right: 2rem; } }

.container__actitud {
  margin-top: 2rem;
  padding-bottom: 2rem; }
  .container__actitud .container__texto1 {
    font-size: 1.50rem;
    color: white; }

.portada__textoActitud {
  margin-left: 18%;
  padding-right: 2rem;
  padding-top: 2rem; }
  .portada__textoActitud .texto__actitud {
    margin-left: 5%;
    font-size: 2.5rem;
    color: white; }
  .portada__textoActitud .ul___actitud {
    font-size: 2rem;
    color: white; }

@media (min-width: 541px) and (max-width: 720px) {
  .portada__textoActitud {
    margin-left: 1rem; }
    .portada__textoActitud .texto__actitud {
      font-size: 2rem; }
    .portada__textoActitud .ul___actitud {
      font-size: 1.75rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .portada__textoActitud {
    margin-left: 1rem; }
    .portada__textoActitud .texto__actitud {
      font-size: 2rem; }
    .portada__textoActitud .ul___actitud {
      font-size: 1.75rem; } }

.grid__container__1contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15rem 15rem;
  gap: 8rem;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding: 6rem; }
  .grid__container__1contacto .grid__catorce {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../recursos/contacto/contacto__1.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #272e29; }
  .grid__container__1contacto .grid__quince {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("../recursos/contacto/contacto__2.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #272e29; }
  .grid__container__1contacto .grid__dieciseis {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("../recursos/contacto/contacto__5.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #272e29; }
  .grid__container__1contacto .grid__diecisiete {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("../recursos/contacto/contacto__6.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #272e29; }

.contacto__texto {
  display: flex;
  font-size: 2rem;
  text-align: center;
  padding: 6rem; }

.imput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 2rem;
  padding: 1rem;
  margin-left: 30rem;
  margin-right: 10rem;
  margin-top: 0.25rem; }
  .imput .contacto__imput {
    padding: 0.50rem;
    color: white; }

@media (min-width: 541px) and (max-width: 720px) {
  grid__container__1contacto {
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem 15rem;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    justify-content: center;
    align-content: center;
    background-position: center;
    padding: 1rem; }
    grid__container__1contacto .grid__catorce {
      grid-row: 1/2;
      grid-column: 1/2;
      background-image: url("../recursos/contacto/contacto__1.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; }
    grid__container__1contacto .grid__quince {
      grid-row: 1/2;
      grid-column: 2/3;
      background-image: url("../recursos/contacto/contacto__2.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; }
    grid__container__1contacto .grid__dieciseis {
      grid-row: 2/3;
      grid-column: 1/2;
      background-image: url("../recursos/contacto/contacto__5.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; }
    grid__container__1contacto .grid__diecisiete {
      grid-row: 2/3;
      grid-column: 2/3;
      background-image: url("../recursos/contacto/contacto__6.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; } }

.contacto__texto {
  display: flex;
  font-size: 0.20rem;
  text-align: center;
  padding: 1rem;
  margin-left: 0.1rem; }

.imput {
  margin-left: 20%;
  margin-top: 0.10rem; }

@media (min-width: 320px) and (max-width: 540px) {
  grid__container__1contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem 15rem;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    align-content: center;
    background-position: center;
    padding: 1rem; }
    grid__container__1contacto .grid__catorce {
      grid-row: 1/2;
      grid-column: 1/2;
      background-image: url("../recursos/contacto/contacto__1.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; }
    grid__container__1contacto .grid__quince {
      grid-row: 1/2;
      grid-column: 2/3;
      background-image: url("../recursos/contacto/contacto__2.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; }
    grid__container__1contacto .grid__dieciseis {
      grid-row: 2/3;
      grid-column: 1/2;
      background-image: url("../recursos/contacto/contacto__5.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; }
    grid__container__1contacto .grid__diecisiete {
      grid-row: 2/3;
      grid-column: 2/3;
      background-image: url("../recursos/contacto/contacto__6.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #272e29; }
  .contacto__texto {
    display: flex;
    font-size: 0.50rem;
    text-align: center;
    padding: 1rem;
    margin-left: 0.10rem;
    margin-right: 0.10rem; } }

.imput {
  font-size: 1.5rem;
  margin-left: 10%;
  margin-top: 0.05rem; }

* {
  margin: 0px;
  padding: 0px; }

body {
  margin: 1rem;
  /* borde a la pantalla*/
  background-color: #304438;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  body h1 {
    font-size: 3rem;
    color: white; }
  body nav {
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.2rem; }
    body nav .ul__navegador {
      display: flex;
      justify-content: space-around;
      list-style: none;
      font-size: 2rem; }
  body li {
    list-style: none; }
    body li a {
      text-decoration: none; }
      body li a:hover {
        color: aqua; }
  body main {
    padding: 1rem; }
  body p {
    color: white;
    font-size: 2.5rem; }
  body .p__link {
    font-size: 2rem; }
  body .portada__textoIndex {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center; }
  body .btn {
    background-color: white;
    width: 15rem;
    height: 7.5rem;
    font-size: 2.5rem;
    padding: 1rem;
    margin-left: 40%;
    border-radius: 5rem;
    border: 0.25rem solid #a70f8d; }
    body .btn:hover {
      transform: scale(1.25);
      background-color: #132011; }

@media (min-width: 541px) and (max-width: 720px) {
  body {
    background-color: rgba(99, 61, 36, 0.795);
    margin: 1rem; }
    body .header {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .header__logo {
        width: 30vw;
        height: 7vh; }
    body h1 {
      margin-left: 1rem;
      margin-left: 1rem;
      font-size: 2.7rem; }
    body nav {
      background-color: white;
      padding: 0.5rem; }
      body nav .ul__navegador {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem; }
      body nav .portada__textoIndex {
        text-align: center;
        padding: 1rem; }
    body p {
      font-size: 2rem; }
    body .btn {
      font-size: 2rem;
      padding: 1rem;
      margin-left: 30%; }
      body .btn:hover {
        transform: scale(1.25);
        background-color: #132011; } }

@media (min-width: 320px) and (max-width: 540px) {
  body {
    background-color: rgba(41, 29, 75, 0.795);
    margin: 0.5rem; }
    body h1 {
      font-size: 2rem; }
    body nav {
      text-align: center;
      margin-left: 10rem;
      margin-right: 10rem; }
      body nav .ul__navegador {
        flex-direction: column;
        font-size: 1.25rem;
        padding: 0.01rem; }
    body .portada__textoIndex {
      text-align: center;
      padding: 1rem; }
    body p {
      font-size: 1.3rem; }
    body .btn {
      width: 10rem;
      height: 5rem;
      margin-top: 0.10rem;
      margin-bottom: 0.5rem;
      margin-left: 30%;
      margin-right: 30%;
      font-size: 2rem;
      padding: 0.10rem; }
      body .btn:hover {
        transform: scale(1.25);
        background-color: #132011; } }
