footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;      
  padding-top: 1rem;
  &__redes {
    display: flex;
    flex-direction: row;
     a {
      margin: 1rem;
      }
     }
  }
   
.instagram{
  width: 2.75rem;
  height: 2rem;
   }     


.facebook{
  width: 2.75rem;
  height: 2rem ;
  }
  
.navegador {
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  margin-top: 0.5rem;
   }
  
.navegador span a {
  color:white;
  font-size: 1rem;
  border-left: 0.10rem solid white;
  padding-left: 1rem;
  padding-right: 1rem;
    }

span a:hover {
  padding: 0.5rem;
   }

@media (min-width: 541px) and (max-width: 720px) {   
      
   }

@media (min-width: 320px) and (max-width: 540px) {   
      
  }  
