.container__galeria {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 15rem 15rem 15rem 15rem;
  grid-template-areas: "uno dos tres" 
 "uno cuatro cinco"
 "seis cuatro ocho"
 "seis cuatro ocho";
  gap: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;

  &__uno {
    grid-area: uno;
    background-image: url("../recursos/edificio__3.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

  &__dos {
    grid-area: dos;
    background-image: url("../recursos/edificio__4.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

  &__tres {
    grid-area: tres;
    background-image: url("../recursos/edificio__5.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

  &__cuatro {
    grid-area: cuatro;
    background-image: url("../recursos/edificio__6.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

  &__cinco {
    grid-area: cinco;
    background-image: url("../recursos/edificio__7.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

  &__seis {
    grid-area: seis;
    background-image: url("../recursos/edificio__8.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

  &__siete {
    grid-area: seis;
    background-image: url("../recursos/edificio__9.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }

  &__ocho {
    grid-area: ocho;
    background-image: url("../recursos/edificio__10.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat; }
  }
  
 
@media (min-width: 541px) and (max-width: 720px) {

  .galeriaTituloh2{
    font-size: 1.75rem;
    padding: 0.5rem;
    margin-left: 5rem; 
    margin-top: 0.25rem;
    }
    
  .container__galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    border: 0.1rem solid #0f010f;
    grid-template-areas: "uno dos"
    "tres cuatro"
    "cinco seis"
    "ocho seis";
    gap: 0.5rem;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem; 
   } 
  
   .gridTexto{
    font-size: 1rem;
   }
  
  }

@media (min-width: 320px) and (max-width: 540px) {

  .galeriaTituloh2{
    font-size: 1.25rem;
    margin-left: 1rem }

  .gridTexto{
    font-size: 1.25rem;
    }

  .container__galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 20rem 20rem 20rem 20rem 20rem 20rem;
    grid-template-areas: "uno" 
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis"
    "ocho";
    gap: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem; 
    }

  .gridTexto{
    font-size: 1rem;
    }
      
  }