header {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
   }

.header{
  display: flex;
  flex-direction: row;
  gap:1rem;
   }

.logo {
  width: 15vw;
  height: 10vh; 
   } 

.navegador {
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
   }
  
.navegador p a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 1rem;
  font-size: 1rem;
  border-left: 0.2rem solid white;
  padding-left: 1rem;
  padding-right: 1rem;
   }
  
.navegador p a:hover {
  padding: 0.5rem;
  }

a {
  text-decoration: none;
  }

@media (min-width: 541px) and (max-width: 720px) {

  .header{
    display: flex;
    flex-direction: row;
     }


  .logo {
    width: 20vw;
    height: 10vh; 
    } 
 
  }

@media (min-width: 320px) and (max-width: 540px) {
  
    header {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    }

  .tituloh1 {
    font-size: 1.25rem;
    }
      
  .logo {
    width: 30vw;
    height: 8vh; 
    }

  .navegador {
    margin-left: 2rem ;
    }  

  .navegador p a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 0.5rem;
    font-size: 0.5rem;
    border-left: 0.2rem solid white;
    padding-left: 2rem;
  
    }    

  /*.a{
    font-size: 2rem;
  }*/
  }