.indexTituloh2{
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
   }
 
 .container-fluid{
  width:80rem ;
  height:35rem ;
   }

.indexTexto{
  display: flex;
  flex-direction:row ;
  text-align:justify;
  gap: 10rem;
  margin-top: 1rem;;
  margin-left:3rem ;
  margin-right: 3rem ;
  margin-bottom: 1rem;
   }


.linkContactoIndex{
  color:white ;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  }

.btn{
  background-color: white;
  width: $ancho/2;
  height:$alto/2 ;
  color:black;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius:10rem;
  margin-left:37rem;
  margin-right: 15rem ;
  margin-bottom: 3rem;
    &:hover {  
    transform: scale(1.20);
    background-color:rgb(29, 41, 37);
    padding:1rem ;
     }
    } 

.btn__texto{
  color:black;
    &:hover{
    color:white;
    }
   }
  

@media (min-width: 541px) and (max-width: 720px) {
   
  .indexTituloh2{
    font-size:1.5rem ;
    margin-left: 1rem;
    margin-top: 0.5rem;
     }
     
  .container-fluid{
    width:35rem ;
    height:15rem ;
    margin-left: 1rem;
    margin-right: 1rem;
     }
    
  .indexTexto{
    font-size: 0.5rem;
    display: flex;
    flex-direction:column ;
    gap: 1rem;
    margin-left:2rem ;
    margin-right: 2rem ;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    }

  .indexTexto__p{
    font-size:1.25rem ;
    }

  .linkContactoIndex{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    }

  .btn{
    width: $ancho/2.2;
    height:$alto/2.2 ;
    margin-left:14rem ;
    padding: 0.5rem;
    }
     
  }


@media (min-width: 320px) and (max-width: 540px) {
    
  .indexTituloh2{
    font-size:1rem ;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    }

  .container-fluid{
    width: 21rem ;
    height:9rem ;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }
    
  .indexTexto{
    flex-direction: column;
    font-size: 0.5rem;
    gap: 1rem;
    margin-left:1rem ;
    margin-right: 1rem ;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
     }

  .indexTexto__p{
    font-size:0.75rem ;
     }  

  .linkContactoIndex{
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
     }
    
    .btn{
      width: $ancho/3;
      height:$alto/3 ;
      font-size: 1.25rem;
      padding: 0.25rem;
      border-radius:10rem;
      margin-left:8rem;
      margin-right: 5rem ;
      &:hover {  
        transform: scale(1.10);
        padding:0.5rem ;
         }
      } 
    
  } 

