
$imagenescontacto:(
    key1:"contacto__1.jpg", 
    key2:"contacto__2.jpg",
    key3:"contacto__5.jpg",
    key4:"contacto__6.jpg",
);


@mixin atributos ($width:30rem, $height:20rem, $border:0.5rem, $border-radius:5rem) { 
  width:$width;
  height:$height;
  border:$border;
  border-radius:$border-radius;
    }

.key1-contacto{
  background-image: url('..recursos/contacto/contacto__1.jpg');
  @include atributos;
   }
.key2-contacto{
  background-image: url('..recursos/contacto/contacto__2.jpg');
  @include atributos;
   } 
.key3-contacto{
  background-image: url('..recursos/contacto/contacto__5.jpg');
  @include atributos;
   }
.key4-contacto{
  background-image: url('..recursos/contacto/contacto__6.jpg');
  @include atributos;
   }



