
$imagenescontacto:(
    key1:"contacto__1.jpg", 
    key2:"contacto__2.jpg",
    key3:"contacto__3.jpg",
    );

@mixin atributos ($width:35rem, $height:30rem, $border:1rem, $border-radius:3rem) { 
  width:$width;
  height:$height;
  border:$border;
  border-radius:$border-radius;
    }

.key1-contacto{
  background-image: url('..recursos/contacto/contacto__1.jpg');
  @include atributos;
   }
.key2-contacto{
  background-image: url('..recursos/contacto/contacto__2.jpg');
  @include atributos;
   } 
.key3-contacto{
  background-image: url('..recursos/contacto/contacto__5.jpg');
  @include atributos;
   }

 