@import 'variables';
@import 'sasscript'; 
@import 'header';
@import 'footer';

@import 'actitud';
@import 'contacto';
@import 'index';
@import 'nosotros';
@import 'galeria';
  

* {
  margin: 0px;
  padding: 0px; 
  }
            
body {
  margin: 1rem;
  background-color: #304438;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

h1 {
  font-size: 3rem;
  color: white; 
  }
  
h2 {
  font-size: 2.5rem;
  color: white; 
  }

h2 {
  font-size: 2rem;
  color: white; 
   }  
 
 h4{
  font-size: 1.75rem;
  color: white; 
   }  
  


p {
  font-size: 1.5rem; 
  color: white;
  }

  
